@media screen and (max-width:768px){
    textarea{
        width: 310px;
        height: 250px;
        border: 1px solid black;
    }
    .myh1{
        font-size: 26px;
    }
    #messgShow{
        font-size: 13px;
    }
}