@media screen and (max-width:768px){
    textarea{
        width: 450px;
        height: 250px;
    }
    h1{
        font-size: 16px;
        color: aqua;
    }
    h3{
        font-size: 12px;
        color: red;
    }
}